html {
    background: linear-gradient(-135deg, #FFF7D1, #FFECC8, #FFD09B, #FFB0B0);
    height: 100%;
    background-size: cover;
}

body {
    margin: 0;
    overflow: hidden;
}

header {
    border-bottom: solid black 2px;
    width: 40%;
    margin: auto;
    padding-top: 2rem;
}

h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: "Poiret One", sans-serif;
    text-shadow: 0 0 1px black;
}

section {
    display: flex;
    width: 40%;
    margin: 4rem auto;
    padding-top: 3rem;
    background-color: #a67d52;
    border: solid black 1px;
    border-radius: 1rem;
    box-shadow: 0 0 4px black;
}

#login-article {
    width: 50%;
    padding: 2rem 0 2rem;
    margin: auto auto 3rem;
    background-color: #FFF7D1;
    border: solid black 1px;
    border-radius: 1rem;
    box-shadow: 0 0 4px black;
}

#login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

label {
    font-family: "Barlow", sans-serif;
    color: black;
    font-size: 1rem;
}

input {
    border-radius: 6px;
    border: solid black 2px;
    margin: 8px 0 10px;
    outline: none;
}

#username,
#passwd,
#create-username,
#create-passwd,
#create-passwd-confirm {
    line-height: 1.5rem;
    background-color: #3c444d;
    transition: 0.3s;
    color: white;
}

#username:focus,
#passwd:focus,
#create-username:focus,
#create-passwd:focus,
#create-passwd-confirm:focus {
    border-color: white;
    box-shadow: 0 0 4px black;
}

#login,
#create {
    margin: auto;
    outline: none;
    width: 40%;
    line-height: 2rem;
    font-family: "Barlow", sans-serif;
    background-color: #FFD09B;
    border: solid black 1px;
    border-radius: 1rem;
    text-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
    transition: 0.2s;
}

#login:hover,
#create:hover{
    background-color: #373b40;
    color: white;
    text-shadow: 0 0 2px white;
}

#create-button {
    border-color: transparent;
    margin: 12px auto 0;
    width: 60%;
    background-color: transparent;
    color: darkblue;
    font-family: "Barlow", sans-serif;
}

#create-button:hover {
    color: blue;
    text-decoration: underline;
}

#account-creation {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 50%;
    background-color: #735637;
    padding: 0;
    width: 20%;
    margin: auto;
    display: none;
    flex-direction: column;
    animation: none;
}

#create-article {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 0 1rem;
    background-color: #FFF7D1;
    border: solid black 1px;
    border-radius: 1rem;
    box-shadow: 0 0 4px black;
}

#create-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: none;
    display: none;
}

#account-creation h3 {
    color: white;
    font-family: "Poiret One", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0 0 1px white;
    margin-bottom: 0;
}

@keyframes adjust-brightness {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.85);
    }
}

@keyframes pop-out {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}